@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxanium", cursive;
}
body {
  text-align: center;
  background: linear-gradient(to bottom, #6ab7f5, #fff);
  min-height: 100vh;
}
.app {
  display: inline-block;
  margin-top: 2%;
  padding: 15px;
  position: relative;
}
.pokedex {
  width: 100%;
  max-width: 1000px;
}
.pokemon_image {
  position: absolute;
  left: 50%;
  bottom: 67%;
  transform: translate(-63%, 0);
  height: 18%;
}
.pokemon_data {
  position: absolute;
  font-weight: 600;
  color: #aaa;
  top: 34%;
  right: 40%;
  font-size: 20px;
}
.pokemon_name {
  color: white;
  text-transform: capitalize;
}
.pokemon_number {
  color: #000;
}
.pokemon_detail_grid {
  position: absolute;
  display: grid;
  bottom: 33%;
  left: 32%;
  font-size: 15px;
  font-weight: 100;
  grid-template-columns: 0.5fr 0.5fr;
}
.hp {
  color: red;
}
.atk {
  color: rgb(13, 185, 7);
}
.def {
  color: rgb(1, 133, 133);
}
.atk_spc {
  color: rgb(0, 216, 115);
}
.type {
  color: #6d6d6d;
}
.pokemon_hp {
  text-align: end;
  width: 80px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.pokemon_atk {
  text-align: start;
  width: 80px;
}
.pokemon_spc_atk {
  text-align: start;
  width: 90px;
}
.pokemon_type {
  position: absolute;
  top: 70%;
  font-weight: 100;
  left: 36%;
}
.pokemon_def {
  text-align: end;
  margin-right: 15px;
}
.form {
  position: absolute;
  width: 65%;
  top: 95%;
  left: 13.5%;
}
.input_search {
  width: 100%;
  padding: 4%;
  outline: none;
  border: 2px solid #333;
  border-radius: 5px;
  font-weight: 600;
  color: #3a444d;
  box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}
.buttons {
  position: absolute;
  bottom: -25%;
  left: 50%;
  width: 65%;
  transform: translate(-57%, 0);
  display: flex;
  gap: 20%;
}

.button {
  width: 50%;
  padding: 4%;
  border: 2px solid #000;
  border-radius: 5px;
  font-weight: 600;
  color: white;
  background-color: #444;
  box-shadow: -2px 3px 0 #222, -4px, 6px #000;
}
.button:active {
  box-shadow: inset -4px 4px 0 #222;
  font-size: 0.9rem;
}

@media (max-width: 570px) {
  .pokemon_data {
    position: absolute;
    font-weight: 600;
    color: #aaa;
    top: 34%;
    right: 40%;
    font-size: 15px;
  }
  .pokemon_detail_grid {
    position: absolute;
    display: grid;
    bottom: 33%;
    left: 30%;
    font-size: 15px;
    font-weight: 100;
    grid-template-columns: 0.5fr 0.5fr;
  }
}
@media (max-width: 490px) {
  .pokemon_data {
    position: absolute;
    font-weight: 600;
    color: #aaa;
    top: 34%;
    right: 40%;
    font-size: 16px;
  }
  .pokemon_type {
    position: absolute;
    top: 70%;
    font-weight: 100;
    left: 36%;
    font-size: 15px;
  }
  .pokemon_detail_grid {
    position: absolute;
    display: grid;
    bottom: 33%;
    left: 28%;
    font-size: 12px;
    font-weight: 100;
    grid-template-columns: 0.5fr 0.5fr;
  }
}
@media (max-width: 438px) {
  .pokemon_detail_grid {
    position: absolute;
    display: grid;
    bottom: 33%;
    left: 25%;
    font-size: 10px;
    font-weight: 100;
    grid-template-columns: 0.5fr 0.5fr;
  }
  .pokemon_type {
    position: absolute;
    top: 70%;
    font-weight: 100;
    left: 36%;
    font-size: 12px;
  }
}
@media (max-width: 380px) {
  .pokemon_detail_grid {
    position: absolute;
    display: grid;
    bottom: 33%;
    left: 22.5%;
    font-size: 9px;
    font-weight: 100;
    grid-template-columns: 0.5fr 0.5fr;
  }
  .pokemon_data {
    position: absolute;
    font-weight: 600;
    color: #aaa;
    top: 34%;
    right: 40%;
    font-size: 13px;
  }
}
@media (max-width: 345px) {
  .buttons {
    position: absolute;
    bottom: -35%;
    left: 50%;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20%;
  }

  .pokemon_detail_grid {
    position: absolute;
    display: grid;
    bottom: 33%;
    left: 19%;
    font-size: 7px;
    font-weight: 100;
    grid-template-columns: 0.5fr 0.5fr;
  }
  .pokemon_type {
    position: absolute;
    top: 70%;
    font-weight: 100;
    left: 36%;
    font-size: 9px;
  }
  .pokemon_data {
    position: absolute;
    font-weight: 600;
    color: #aaa;
    top: 34%;
    right: 40%;
    font-size: 11px;
  }
}
@media (max-width: 295px) {
  .pokemon_detail_grid {
    position: absolute;
    display: grid;
    bottom: 33%;
    left: 16%;
    font-size: 6px;
    font-weight: 100;
    grid-template-columns: 0.5fr 0.5fr;
  }
  .pokemon_data {
    position: absolute;
    font-weight: 600;
    color: #aaa;
    top: 34%;
    right: 40%;
    font-size: 9px;
  }
  .pokemon_type {
    position: absolute;
    top: 70%;
    font-weight: 100;
    left: 36%;
    font-size: 7px;
  }
}
